<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

<head>
        <title>CS453 - Team Five: Caliber</title> 
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="author" content="Drew Jaqua, Wes Johnson"/>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>

        {% include "vending/JavaScript.html" %}
        {% block jquery %}
            <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        {% endblock %}
        {% block externaljs %} 
            <!--external JS includes --> 
        {% endblock %}
    </head>
    
    <body>
                 
        {% include "vending/menu.html" %}

        {% block content %}

            <!-- stuff2 -->
    
        {% endblock %}

    </body>
</html>




