{% extends "vending/base.html" %}

{% block content %} 
 
    {% comment %}
       Display details about this particular round, including 
       links to the manufactures website, location, and primary phone
    {% endcomment %}

   <ul>
     <a href="/manufacturer/{{ round.manufacturer.id }}/">{{ round.manufacturer }}</a> - {{ round.description }} - ${{ round.cost }}
     <li>{{ round.cartridge.caliber }}</li>
     <li>{{ round.cartridge.bullet }}</li>
     <li>{{ round.cartridge.material }}</li>
     <li>{{ round.inventory_count }}</li>
   </ul>

   <input type="submit" name="purchase" value="Proceed to Checkout" />
   <input type="submit" name="purchase" value="Cancel" />
{% endblock %}
