<script>
$(function() {
    $( "#caliber" ).change( buildAjaxAutoSubmit("caliber") );
    $( "#purpose" ).change( buildAjaxAutoSubmit("purpose") );
    $( "#weapon" ).change( buildAjaxAutoSubmit("weapon") );
    $( "#company" ).change( buildAjaxAutoSubmit("company") );
});

function buildAjaxAutoSubmit(domId) {
    //return function() {$("#" + domId).submit();};
    return function() {
        $.get("/", 

               // JSON variables to pass in the request
               {message : 'Hello, world, from AJAX!!!',
                update  : domId,
                action  : 'something'}, 

                function(response) {

                    if ("success" == response['action']) {
                        alert(response['message']);
                    } else {
                        alert("noooooo!!!");
                    }
                
            } ); // end jQuery POST      
    };
}
</script>

<select id="caliber" name="caliber">
    {% for caliber in caliber_list %}
        <option value="{{ caliber.id }}">{{ caliber.name }}</option>
    {% endfor %}
</select>

<select id="purpose" name="purpose">
    {% for purpose in purpose_list %}
        <option value="{{ purpose.id }}">{{ purpose.description }}</option>
    {% endfor %}
</select>

<select id="company" name="company">
    {% for company in company_list %}
        <option value="{{ company.id }}">{{ company.name }}</option>
    {% endfor %}
</select>

<select id="weapon" name="weapon">
    {% for weapon in weapon_list %}
        <option value="{{ weapon.id }}">{{ weapon.name }}</option>
    {% endfor %}
</select>
