<script>
$(function() {
    $( "#caliber" ).change( buildAjaxAutoSubmit("caliber") );
    $( "#bullet" ).change( buildAjaxAutoSubmit("bullet") );
    $( "#material" ).change( buildAjaxAutoSubmit("material") );
//    $( "#cost" ).change( buildAjaxAutoSubmit("cost") );
    $( "#manufacturer" ).change( buildAjaxAutoSubmit("manufacturer") );
});

function buildAjaxAutoSubmit(domId) {
    //return function() {$("#" + domId).submit();};
    return function() {
        $.get("/", 

               // JSON variables to pass in the request
               {message : 'Hello, world, from AJAX!!!',
                update  : domId,
                action  : 'something'}, 

                function(response) {

                    if ("success" == response['action']) {
                        alert(response['message']);
                    } else {
                        alert("noooooo!!!");
                    }
                
            } ); // end jQuery POST      
    };
}
</script>

<select id="caliber" name="caliber">
    <option value="default">--any--</option>
    {% for caliber in caliber_list %}
        <option value="{{ caliber.id }}">{{ caliber.description }}</option>
    {% endfor %}
</select>

<select id="bullet" name="bullet">
    <option value="default">--any--</option>
    {% for bullet in bullet_list %}
        <option value="{{ bullet.id }}">{{ bullet.purpose }}</option>
    {% endfor %}
</select>

<select id="manufacturer" name="manufacturer">
    <option value="default">--any--</option>
    {% for manufacturer in manufacturer_list %}
        <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
    {% endfor %}
</select>

<select id="material" name="material">
    <option value="default">--any--</option>
    {% for material in material_list %}
        <option value="{{ material.id }}">{{ material.name }}</option>
    {% endfor %}
</select>

